<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<main>
    <div>
      <h1>Editing Director <%= director.id %>'s Profile:</h1>
      <p>Name: <%= director.name %></p>
      <form action="<%= `/directors/${director.id}?_method=PUT` %>" method="POST">
        <label>
        First Name:
        <input name="name" value="<%= director.name %>" />
      </label>
      <input type="submit" value="Update" />
        </input>
      </form>
      <a href="/directors/<%= director.id %>">Cancel</a>
    </div>
</main>
<% include ../partials/footer.ejs %>
<% include ../partials/jsdefaults.ejs %>
</body>
</html>
