<div><%= movie.id %></div>
<div><%= movie.title %></div>
<div><%= movie.synopsis %></div>

<button><a href="<%= '/movies/' + movie.id + '/edit' %>">edit</a></button>

<a href="<%= '/movies' %>">Back to Movies</a>

